{% extends 'layout.html' %}
{% block maincontent %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finances</title>
</head>
<body class="text-align">
<div id="intro-box" style="text-align: center; display:flex; margin-left: 50px; margin-top: 50px; margin-bottom: 50px">
    <div style="background: linear-gradient(to right, #ffffff, #f2f2f2); color: #333; padding: 40px; border-radius: 20px; text-align: center; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); transform: scale(1); transition: transform 0.3s ease-in-out;">
      <h1 style="margin: 10px 0;font-family: 'Heiti TC'; font-weight: bolder; color: #333;"><strong>Welcome, </strong></h1>
    </div>
  </div>
</body>
{% endblock %}